#bw1 {

border: 2px solid black;
background-color: #78f6ff;
border-radius: 35px;
text-align: center; 
padding: 5px;
align: center;

}

#bw1:hover{

background-color: #f00cd9;

}

#bw2 {

border: 2px solid black;
background-color: #78f6ff;
border-radius: 35px;
text-align: center; 

}

#bw2:hover{

background-color: #f00cd9;

}